* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: rgba(47, 46, 65, 1);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.32px;
}

header {
    height: 80px;
    background: #6C63FF;
}

.login-btn {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: transparent;
    color: #FFFFFF;
    
    text-transform: uppercase;
    }    

.main {
    padding: 100px 0;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 70px;
    text-align: center;

}

.card {
    width: 370px;
    border-radius: 5px;
    border: 2px solid rgba(231, 231, 231, 1);
    background-color: #FFF;
    padding: 46px 20px;

}

.card-tittle {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.44px;
    text-transform: uppercase;
}

.card-img {
    margin: 40px 0 36px ;
}

.card-text {
    line-height: 1.5;
}

.card-text span {
    font-weight: 700;
}

footer {
    background: rgba(108, 99, 255, 1);
    padding: 20px 0;

}

.nav-link {
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;

}

.nav-link img {
    margin-right: 10px;
}

.menu-item {
    padding: 9px 15px;
}



